<!DOCTYPE html>

<html>
    <head>
        <title>Accueil Victorious Secrets</title>
        
    </head>
    <%- include('header.ejs') %>
    <body>
        <div style='text-align: center'>
        <p>Bienvenue sur l'application des Victorious Secrets. </br>
            La Team Victorious Secrets est une équipe de football féminin présente en BBFL dans la league Sunrise (D3)
        </p>
        <img class='photoaccueil' src='public/images/photoaccueil.png' alt='photodequipeVS' style='border-radius: 10px' />
        </div>
    </body>
    <%- include('footer.ejs') %>