<!DOCTYPE html>

<html>
    <head>
        <title>FooterStyle</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/public/footer.css" />
    </head>
<footer>
    <a href="https://www.facebook.com/Victorious-Secret-BBFL-2140030759440919/" target="_blank"><img class ='logonetwork' src="/public/images/logoface.png" alt='logodesvictorious'/></a>
    <a href="https://www.instagram.com/victorioussecretbbfl/" target="_blank"><img class ='logonetwork' src="/public/images/logoinsta.png" alt='logodesvictorious'/></a>
</footer>


</html>