<!DOCTYPE html>

<html>
    <head>
        <title>Effectif Victorious Secrets</title>
        
    </head>
    <%- include('header.ejs') %>
    <body>
            test
       
        
                <% listeusers.forEach(function(user) { %>
                    <a href="/delete/user/<%= user.id %>">[✘]</a>
                         <%= user.username %> 
                <% }); %>
                
                </body>
                <%- include('footer.ejs') %>
     