<!DOCTYPE html>

<html>
    <head>
        <title>Effectif Victorious Secrets</title>
        
    </head>
    <%- include('header.ejs') %>
    <body>
            
       
        
                <% listecoachs.forEach(function(coach) { %>
                         <%= user.username %> 
                <% }); %>
                
                </body>
                <%- include('footer.ejs') %>
     