footer {
    background-image: url('images/fond1.png');
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left : -40px;
}

.logonetwork {
    height : 50px;
    width : 50px;
    }
  