
/* css de l'en-tête */
.head {
  background-image: url('./images/marbre.jpg');
  background-size: cover;
  display : flex;
  justify-content : space-between;
  }

h1 {
  color : rgba(58, 49, 49, 0.9);
  font-size: 80px; 
  margin: auto auto;
}

.logovs {
  height : 15%;
  width : 15%;
}

/* CSS barre de navigation */
#nav {
  padding: 0;; margin:0;
  padding-bottom: 8px;
  text-align: center;
  background-color : rgba(58, 49, 49, 0.9);
  
}
#nav li {
	display: inline;
  list-style: none;
  
}
#nav a {
	display:inline-block;
  margin: 0 30px;
  color:black;
}

#nav button {
	border-radius: 5px;
	background-color : #a8c6fab6;
	border:none;
	font:bold 12px Verdana;
  padding: 14px 40px ;
  margin-top : 10px;
  transition-duration: 0.4s;
}
 #nav button:hover {
  background-color: rgba(35, 73, 201, 0.685); /* Green */
  
 }

 @media (max-width: 1200px) {
  

  h1 {
    font-size : 60px;
  }
}

 @media (max-width: 800px) {
    #nav button {padding : 7px 5px;
    }

    h1 {
      font-size : 30px;
    }
  }