

.head {
  background-image: url('./images/marbre.jpg');
  background-size: cover;
  display: flex;
  }


h1 {
  color : rgba(58, 49, 49, 0.9);
  font-size: 80px;
  margin : auto 185px;
}

.logovs {
  height : 200px;
  width : 200px;
}

#nav {
  padding: 0;; margin:0;
  padding-bottom: 8px;
  text-align: center;
  background-color : rgba(58, 49, 49, 0.9);
  
}
#nav li {
	display: inline;
  list-style: none;
  
}
#nav a {
	display:inline-block;
  margin: 0 30px;
  color:black;
}

#nav button {
	border-radius: 5px;
	background-color : #a8c6fab6;
	border:none;
	font:bold 12px Verdana;
  padding: 14px 40px ;
  margin-top : 10px;
  transition-duration: 0.4s;
}
 #nav button:hover {
  background-color: rgba(35, 73, 201, 0.685); /* Green */
  
 }


